.schedule-item {
  height: 150px;
  display: inline-block;
  background: #f157b9;
  color: white;
  outline: 3px solid black;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 10px;
}

.schedule-item h1,
.schedule-item h2 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 25px;
}

.schedule-item h1 {
  font-size: 35px;
}

.schedule-item h2 {
  font-size: 20px;
}

.schedule-item-focused {
  background: #b357ea;
  color: black;
}

.live {
  background: white;
  color: #f157b9;
}

.live-focused {
  background: lightgray;
  color: #b357ea;
}
