html {
  width: 1920px;
  height: 1080px;
}

body {
  width: 1920px;
  height: 1080px;
  background: black;
  overflow: hidden;
  margin: 0;
  scroll-behavior: smooth;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  font-family: 'Tahoma', sans-serif;
}
